@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: bisque;
    margin-bottom: 0px;


}

nav{
    background-color: black;
    padding: 30px;
    font-style: italic;
    font-weight: normal;
    font-size: larger;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.8;

}

nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: bisque;
}

section{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}

p{
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: large;
}

h2{
    font-size: medium;
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}

div{
    margin-bottom: 0px;
}

footer{
    background-color: black;
    color: purple;
    margin-top: 300px;
    margin-bottom: 0px;
}

span{
    text-decoration: underline;
    text-transform: uppercase;
    color: red;
}

h1{
    color: bisque;
}


.pDescripcion{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    text-align: left;
}

.cOnst{
    text-decoration: underline;
}

.imgCons{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    height: 500px;
}

.imgAcce{
    height: 600px;
}

.iNav{
    margin-right: 20px;
}

.iContenedor{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 600px 500px ;
    grid-template-areas:     
    "item-1 item-1 item-2 item-2"
    "item-3 item-3 item-4 item-4"
    "item-3 item-3 item-5 item-5";
    row-gap: 10px;
}

.item-1{
    display: grid;
    grid-area: item-1;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    text-decoration: underline;
    font-weight: bold;
    align-content: center;
    align-items: center;
    justify-content: center;
}


.item-2{
    display: flex;
    grid-area: item-2;
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: medium;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.item-3{
    display: grid;
    grid-area: item-3;
    justify-content: center;
    justify-items: center;
}

.item-4{
    display: grid;
    grid-area: item-4;
    background-color: black;
    justify-items: center;
}

.item-5{
    display: grid;
    grid-area: item-5;
    background-color: black;
    justify-items: center;
}

.aHyper{
    font-size: larger;
    font-weight: bold;
}

.fInstrumentos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 500px;
    margin-top: 100px;
    grid-template-areas: 
    "inst-1 inst-2"
    "inst-3 inst-4"
    ;
}

.inst-1{
    grid-area: inst-1;
}

.inst-2{
    grid-area: inst-2;
}

.inst-3{
    grid-area: inst-3;
}

.inst-4{
    grid-area: inst-4;
}


.rSociales{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
}

.icono{
    width: 40px;
    margin-top: 5px;
    padding: 0px;
}

.iGuitarra1{
    display: flex;
}

.iDiscos1{
    display: flex;
    height: 300px;
}


@media(max-width: 500px){
    .iContenedor{
        margin: 0;
        height: 3000px;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 5% 20% 1fr 1fr;
        grid-template-areas: 
        "item-1"
        "item-2"
        "item-3" 
        "item-4"
        "item-5"
        ;
}

.item-2, .item-3, .item-4, .item-5, nav ul, footer{
    max-width: 100vw;
}

.item-3 img{
    max-width: 90vw;
}

.item-2{
    display: block;
    height: 200px;
}


body{
    max-height: 850px;
}

footer{
    margin-top: 100px;
}

.p2{
    display: flex;
    font-size: medium;
}

.fInstrumentos{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "inst-1"
    "inst-2"
    "inst-3"
    "inst-4";
}

.inst-1 img{
width: 90vw;
}
.inst-2 img{
width: 90vw
}


.inst-4 img{
width: 90vw
}

}