@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap");
p {
  font-family: "Oswald", sans-serif;
  font-style: oblique;
  font-weight: bolder;
  font-size: large;
  padding: 100px;
  color: bisque;
}
p .descAcce {
  background-color: black;
  color: bisque;
  text-align: center;
  padding: 100px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #161A1D;
  margin-bottom: 0px;
}

section {
  font-family: "Oswald", sans-serif;
  font-size: x-large;
}

footer {
  background-color: #D3D3D3;
  margin-top: 100px;
  margin-bottom: 0px;
}

a {
  color: #EF233C;
}

span {
  color: #EF233C;
}

div .col{
  height: 100px;
}

.rSociales {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  margin-top: 200px;
}

.icono {
  width: 40px;
  margin-top: 5px;
  padding: 0px;
}

.navcol {
  background-color: #D3D3D3;
}

.iContenedor {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  row-gap: 10px;
}

.iContenedor .item-3 {
  display: grid;
  grid-area: item-3;
  justify-content: center;
  justify-items: center;
}
.iContenedor .item-3 .p2 {
  color: bisque;
}

.iContenedor .item-4 {
  display: grid;
  grid-area: item-4;
  background-color: black;
  justify-items: center;
  height: 500px;
}
.iContenedor .item-4 .aHyper {
  font-size: larger;
  font-weight: bold;
}

.iContenedor .item-5 {
  display: grid;
  grid-area: item-5;
  background-color: black;
  justify-items: center;
  height: 500px;
}
.iContenedor .item-5 .aHyper {
  font-size: larger;
  font-weight: bold;
}

.dNos {
  color: bisque;
  font-family: "Oswald", sans-serif;
  font-style: oblique;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  margin-top: 100px;
}

.pDescripcion {
  margin-top: 20px;
  margin-right: 100px;
  text-align: center;
  color: bisque;
}


.row {
  margin-top: 200px;
  height: 500px;
}

div.col {
  height: 500px;
  padding: 0;
}


.iContenedor {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 600px 500px;
  grid-template-areas: "item-1 item-1 item-2 item-2" "item-3 item-3 item-4 item-4" "item-3 item-3 item-5 item-5";
  row-gap: 50px;
}
.iContenedor .item-1 {
  margin-top: 100px;
  color: bisque;
  display: grid;
  grid-area: item-1;
  font-family: "Oswald", sans-serif;
  font-size: xx-large;
  text-decoration: underline;
  font-weight: bold;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.iContenedor .item-2 {
  margin-top: 100px;
  color: bisque;
  display: flex;
  grid-area: item-2;
  font-family: "Oswald", sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-size: medium;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.iContenedor .item-3 {
  display: grid;
  grid-area: item-3;
  justify-content: center;
  justify-items: center;
}
.iContenedor .item-4 {
  display: grid;
  grid-area: item-4;
  background-color: black;
  justify-items: center;
}
.iContenedor .item-5 {
  display: grid;
  grid-area: item-5;
  background-color: black;
  justify-items: center;
  height: 500px;
}
.iContenedor .aHyper {
  font-size: larger;
  font-weight: bold;
}
.iContenedor p {
  font-family: "Oswald", sans-serif;
  font-style: oblique;
  font-weight: bolder;
  font-size: large;
}

@media (max-width: 500px){
  .iContenedor {
    margin: 0;
    height: 2000px;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 5% 20% 1fr 1fr;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5";
    row-gap: 100px;
  }
  .item-2, .item-3, .item-4, .item-5, nav ul, footer {
    max-width: 100vw;
  }
  .item-1{
    height: 100px;
  }
  .item-3 img {
    max-width: 90vw;
  }
  .item-2 {
    height: 100px;
  }
  }
  footer {
    margin-top: 300px;
  }

/*# sourceMappingURL=estilos.css.map */