.aCce{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px 600px;
    margin-top: 20px;
    align-items: center;
}

    .descAcce{
        background-color: black;
        color: bisque;
        text-align: center;
        padding: 200px;
    }


.imgAcce{
    margin-top: 60px;
    margin-left: 60px;
    align-items: end;
}