.dNos{
        color: bisque;
        font-family: "Oswald", sans-serif;
        font-style: oblique;
        font-weight: bolder;
        font-size: large;
        text-align: center;
}

p{
        .pDescripcion {
        margin-top: 20px;
        margin-right: 100px;
        text-align: center;
        color: bisque;
        padding: 0;
        }
}