.rSociales{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    margin-top: 200px;
    background-color: light;
}

.icono{
    width: 40px;
    margin-top: 5px;
    padding: 0px;
}