@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

p{
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: large;
}

span{
    color: red;
}

