* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #161A1D;
    margin-bottom: 0px;
}

section {
    font-family: "Oswald", sans-serif;
    font-size: x-large;
}

footer {
    background-color: #D3D3D3;
    margin-top: 100px;
    margin-bottom: 0px;
}

a{
    color: #EF233C;
}

span {
    color: #EF233C;
}

.rSociales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    margin-top: 200px;
}

.icono {
    width: 40px;
    margin-top: 5px;
    padding: 0px;
}

.navcol{
    background-color: #D3D3D3;
}

.iContenedor {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 600px 500px;
    grid-template-areas: "item-1 item-1 item-2 item-2" "item-3 item-3 item-4 item-4" "item-3 item-3 item-5 item-5";
    row-gap: 10px;
}

.iContenedor { 
    .item-3 {
    display: grid;
    grid-area: item-3;
    justify-content: center;
    justify-items: center;
        .p2{ 
        color: bisque;
        }
    }
}

.iContenedor {   
    .item-4 {
    display: grid;
    grid-area: item-4;
    background-color: black;
    justify-items: center;
    height: 500px;
        .aHyper {
            font-size: larger;
            font-weight: bold;
        }
    }
}

.iContenedor {
    .item-5 {
    display: grid;
    grid-area: item-5;
    background-color: black;
    justify-items: center;
    height: 500px;
        .aHyper {
            font-size: larger;
            font-weight: bold;
        }
    }
}