*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: bisque;
    margin-bottom: 0px;
}

section{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}

footer{
    background-color: black;
    color: purple;
    margin-top: 300px;
    margin-bottom: 0px;
}

