nav{
    background-color: black;
    padding: 30px;
    font-style: italic;
    font-weight: normal;
    font-size: larger;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.8;
    ul{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: bisque;
                .iNav{
                    margin-right: 20px;
                }
            }
        }
    }
}