.pDescripcion{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    text-align: left;

    .fInstrumentos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 500px 500px;
        margin-top: 100px;
        grid-template-areas: 
        "inst-1 inst-2"
        "inst-3 inst-4"
        ;
    }
    
    .inst-1{
        grid-area: inst-1;
    }
    
    .inst-2{
        grid-area: inst-2;
    }
    
    .inst-3{
        grid-area: inst-3;
    }
    
    .inst-4{
        grid-area: inst-4;
    }
    
}