.imgNos{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.dNos{
        font-family: 'Oswald', sans-serif;
        font-style: oblique;
        font-weight: bolder;
        font-size: large;
        text-align: center;
    }

