@import "fuentes";
@import "generales";
@import "descrip";
@import "accesorios";
@import "discos";



@media (max-width: 500px) {
    .iContenedor {
    margin: 0;
    height: 3000px;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 5% 20% 1fr 1fr;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5";
    }
    .item-2, .item-3, .item-4, .item-5, nav ul, footer {
    max-width: 100vw;
    }
    .item-3 img {
    max-width: 90vw;
    }
    .item-2 {
    display: block;
    height: 200px;
    }
    body {
    max-height: 850px;
    }
    footer {
    margin-top: 100px;
    }
    .fInstrumentos {
    grid-template-columns: 1fr;
    grid-template-areas: "inst-1" "inst-2" "inst-3" "inst-4";
    }
    .inst-1 img {
    width: 90vw;
    }
    .inst-2 img {
    width: 90vw;
    }
    .inst-4 img {
    width: 90vw;
    }
}
